html, body, video {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    text-align: center;
}

video {
    display: inline-block;
    background-color: black;
}


.video-wrapper {
  /* width: 100%;
  margin: 0;
  height: 100%;
  width: 100%;
  display: inline-block; */

  position: fixed;
  inset: 0;           /* top:0 right:0 bottom:0 left:0 */
  overflow: hidden;
  z-index: 0;        /* optional if it's a background */
}

.video-wrapper video {
  /* width: 100%;
  height: auto;
  display: inline-block; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-wrapper {
  position: absolute;
  bottom: 12px;
  right: 12px;
  display: flex;
  gap: 12px;
  z-index: 10;
}

.button {
  padding: 12px 20px;
  font-size: 24px;
  border: none;
  cursor: pointer;

  background: rgba(0, 0, 0, 0.6);
  color: white;  
}

