html, body, video {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    text-align: center;
}

video {
    display: inline-block;
    background-color: black;
}
